<!DOCTYPE html>
<html>
<head>
  <title>MovieAPI - Movie Index</title>
</head>
<body>
  <ul>
    <% @movies.each do |movie| %>
      <li><a href='/movies/<%= movie["id"] %>'><%= movie["title"] %></a></li>
    <% end %>
  </ul>
</body>
</html>